<!DOCTYPE html>
<html>
<head>
	<title>Burgers</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class ="jumbotron">
			<h1>SAVAGE BURGERS</h1>
			<h2>Devour burgers with the savagery of an animal</h2>
		</div>

		

		<div class="row">
			<div class="col-md-12">
				<input type="text" class="form-control" id="burgerInput">
				<button id="button">Submit</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<h2>Burgers</h2>
				<br>
				<br>
				<span id="burgers"></span>
			</div>

			<div class="col-md-6">
				<h2>Devoured Burgers</h2>
				<br>
				<br>
				<span id="devouredBurgers"></span>
			</div>
		</div>
	</div>
	
